.orderedwrapper {
    padding-left: 20px;
    li{
      margin-bottom: 10px;
      position: relative;
      padding-left: 15px;
      &:before {
        content: "•";
        color: #eab81f;
        position: absolute;
        left: 0;
      }
    }
}

.contentlist{
    li{
        padding: 10px 0;
        border-bottom: 1px solid #c6c5c8;
        position: relative;
        padding-left: 25px;
        &:before{
            content: "✓";
            color: #eab81f;
            position: absolute;
            left: 0;
            font-weight: bold;
        }
    }
    &_notLines{
        li{
            border-bottom: none;
        }
    }
}

.section {
    padding: 50px 0;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        > * {
            flex: 1 1 50%;
        }
        @media (max-width:#{$md3}px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__cta{

    }
    &__caption {
        font-weight: 500;
        color: #eab81f;
    }
    &__text{
        @media (max-width:#{$md3}px) {
            width: 100%;
        }
        > *:not(:last-child){
          margin-bottom: 20px;
        }
    }
    &__image{
        img{
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            margin-bottom: 10px;
        }
    }
    &_dark{
        background-color: #252526;
        color: #fff;
    }
}

.notlc-space-30{
    > *:not(:last-child){
      margin-bottom: 30px;
    }
}
