@import "import/mixin"; // Подключаю миксины

// ================== Подключаем шрифты ===================
//@import "import/fonts";

$mw: 1200;
$md1: $mw;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

@import "import/default"; // Дефолтные стили
